@import url("https://fonts.googleapis.com/css2?family");

@import "reset.css";


@import "title.css";
/* title */

@import "side.css";

@import "underbox.css";
@import "chart.css";

body {
    color: #2e363e;
    font-family: "Open Sans" sans-serif;
    margin: 20px;
}
