.underbox {
    display: flex;
    width: 1450px;
    margin: 30px 0px;
    border: 3px solid black;
    height: 800px;
}


.underbox__main {
    width: 1450px;
    height: 750px;
    margin: 20px 20px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #ebf1fb;
}

.underbox__name {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 25px;
}

.underbox__score {
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
}

.underbox__score__one {
    font-size: 45px;
    font-weight: 700;
}

.underbox__score__two {
    padding: 20px;
    font-size: 15px;
    color: rgb(129, 172, 218);
}

.underbox__graph {
    margin: 0px 50px;
    width: 1000px;
    height: 400px;
}

#container {
    margin-top: 25px;
    margin-left: 50px;
    width: 900px;
    height: 350px;
}

.underbox__chart {
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}

.underbox__chart table,td,th {
    text-align: center;
    height: 50px;
    vertical-align: middle;
}

.underbox__chart table {
    width: 800px;
    background-color: #d8dfea;
    border-radius: 10px;
}

.underbos__chart ,th,td {
    border-right: 2px solid rgba(0,0,0,0.1);
}

.no-border {
    border-right: none;
}
