.underbox {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    border: 3px solid black;
    height: auto;
}

.underbox__main__index {
    padding: 5px 5px;
    margin: 20px 20px;
    width: auto;
    height: 60px;
    border: 1px solid black;
    border-radius: 8px;
}
.underbox__main__graph {
    padding: 10px 10px;
    margin: 20px 20px;
    width: auto;
    height: 500px;
    border: 1px solid black
    ;
}